.erreur_404 {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 252, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}

.erreur_404_container1 {
    min-width: 80vw;
    min-height: 40vw;
    margin: auto;
    // border: 1px solid red;
}

.title_404 {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(100, 73, 0);
    font-style: italic;
}

.title_woops {
    font-size: 4em;
    font-weight: bold;
    color: rgb(255, 187, 0);
}