.about2-container {
    background: rgb(255, 252, 230);
    padding: 3.5em 0;
}

.about2-textcolor {
    color: rgb(255, 187, 0);
}

.about2-textcolor2 {
    color: rgb(95, 70, 0);
}

.about2-resize-h1 {
    font-size: 3.5em;
}