.box-layout {
    align-items: center;
    //background: url('/images/travel3.jpg');
    //background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: fade-out(white, .7);
    border-radius: 11px;
    padding: $l-size $m-size;
    text-align: center;
    width: 25rem;
}

.box-layout__image {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
    //color: fade-out(white, .3);
    color: fade-out(white, .2);
    //color: $text-dark-blue;
    font-weight: 300;
}

.bold {
    font-weight: bold;
}