.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
//   color: #d1d1d1;
    color: #ffffff;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
//   width: 36px;
//   height: 30px;
//   left: 36px;
//   top: 36px;
    width: 1.5em;
    height: 1.3em;
    top: .8em;
    right: 1em;
}

// .bm-burger-bars {
//   background: #373a47;
// }

.bm-burger-bars {
  background: #ffffff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
//   background: #bdc3c7;
    background: #ffffff;
}

.bm-menu {
    // position: fixed;
    // top: 0px;
//   background: #373a47;
  // background: #be9200;
    background: #e9b200;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}