.button {
    background-color: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--facebook {
    background: $facebook-blue2;
    //background: $button-blue;
    margin-bottom: 0.7rem;
    width: 20rem;
    //border: 0.05rem solid fade-out(white, .3);
}

.button--google {
    background: $google-red3;
    //background: $button-blue;
    margin-bottom: 0.7rem;
    width: 20rem;
    //border: 0.05rem solid fade-out(white, .3);
}

.button--classic-login {
    color: black;
    background: rgba(255, 255, 255, .8);
    margin-bottom: 0.7rem;
    width: 20rem;
}

.button--create-account {
    color: rgb(231, 170, 0);
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .7);
    margin-bottom: 0.7rem;
    width: 20rem;
}

.button--about {
    color: rgb(139, 102, 1);
    //background: rgba(255, 255, 255, .2);
    background: none;
    //border: 1px solid rgba(255, 255, 255, .7);
    margin-bottom: 0.7rem;
    width: 20rem;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}

.button--radius {
    border-radius: 11px;
}

.button--logout {
    position: relative;
    right: 2em;
}