.classic-login__box-layout {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.classic-login__h1 {
    color: white;
    font-size: 8rem;
    //margin: 2rem 0 1rem 3rem;
    margin: .5vh auto;
}

.classic-login__h4 {
    color: white;
    font-size: 2.3rem;
    //margin: 0 3rem;
    width: 80vw;
    margin: .5vh auto;
    max-width: 500px;
}

.classic-login__text-input {
    display: flex;
    width: 80vw;
    height: 6vh;
    background-color: white;
    border: none;
    // box-shadow: 0px 0px 3px rgb(255, 255, 255);
    box-shadow: 0px 0px 3px rgb(223, 189, 0);
    justify-content: center;
    //margin: 0.5rem 3rem;
    padding: 1.5rem;
    outline: none;
    color: rgb(231, 170, 0);
    // border-radius: 7px;
    margin: .5vh auto;
    justify-content: center;
    max-width: 500px;
}

.classic-login__extra-margin {
    margin-bottom: .5rem;
}

.classic-login__button {
    background-color: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    width: 80vw;
    max-width: 500px;
}

.classic-login__button--facebook {
    background: $facebook-blue2;
    //margin: 3rem 0rem 0.3rem 3rem;
    margin: .5vh auto;
}

.classic-login__button--google {
    background: $google-red3;
    //margin: 0.7rem 0rem 0.3rem 3rem;
    margin: .5vh auto;
}

.classic-login__button--radius {
    border-radius: 15px;
}

.classic-login__create--account--text {
    margin: auto;
    margin-top: -0.5vh;
}

.classic-login__button2 {
    // background: rgba(255, 255, 255, 0.096);
    background: rgba(255, 255, 255, 0.308);
    border: 1px solid white;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    width: 80vw;
    margin-bottom: 3vh;
    max-width: 500px;
}

.classic-login__link {
    text-decoration: none;
    color: white;
}