.classic--create__box-layout {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow: scroll;
}

.classic--create__h1 {
    color: white;
    font-size: 2.5rem;
    margin: 1vh auto;
}

.classic--create__h4 {
    color: white;
    font-size: 2.3rem;
    //margin: 0 3rem;
    width: 80vw;
    margin: .5vh auto;
    max-width: 500px;
}

.classic--create__h5 {
    color: white;
    font-size: 1.2rem;
}

.classic--create__text-input {
    display: flex;
    width: 80vw;
    height: 6vh;
    background-color: white;
    border: none;
    // box-shadow: 0px 0px 3px rgb(187, 159, 0);
    box-shadow: 0px 0px 3px rgb(223, 189, 0);
    justify-content: center;
    //margin: 0.5rem 3rem;
    padding: 1.5rem;
    // border-radius: 7px;
    outline: none;
    color: rgb(231, 170, 0);
    margin: .5vh auto;
    justify-content: center;
    max-width: 500px;
}

.classic--create__extra-margin {
    margin-bottom: 1rem;
}

.classic--create__button {
    background-color: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    width: 80vw;
    max-width: 500px;
}

.classic--create__button--facebook {
    background: $facebook-blue2;
    // margin: 0.5rem 0rem 0rem 3rem;
    margin: .5vh auto;
}

.classic--create__button--google {
    background: $google-red3;
    // margin: 0.5rem 0rem 0.3rem 3rem;
    margin: .5vh auto;
}

.classic--create__button--radius {
    border-radius: 15px;
}

.classic--create__create--account--text {
    margin: auto;
    margin-top: -0.5vh;
}

.classic--create__button2 {
    background: rgba(255, 255, 255, 0.308);
    border: 1px solid white;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    width: 80vw;
    margin: .5vh auto;
    max-width: 500px;
}

.classic--create__terms {
    margin: auto;
    margin-top: -1vh;
    margin-bottom: 0rem;
}

.classic--create__image {
    height: 7vh;
    width: 7vh;
    margin: auto;
}
.classic--create__image_2 {
    margin-left: -1.1em;
}

.classic--create__image_3 {
    margin-left: -1.4em;
}

.classic-div-profile-icns {
    display: block;
    text-align: center;
}