.footer{
    //background: $dark-blue2;
    position: fixed;
    width: 100vw;
    bottom: 0px;
}

.footer__content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer__title {
    color: white;
    text-decoration: none;
    h1 {
        font-size: 2rem;
        margin: 0;
    }
}

.footer__title__margin {
    margin-right: 30vw;
}