.header {
    //background: $dark-blue2;
    position: fixed;
    width: 100vw;
    z-index: 108;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}