.parcours1{
    padding-top: 5vh;
    background: rgb(255, 253, 245);
    //padding-bottom: 5vh;
}

.parcours-container {
    //background: rgb(218, 218, 218);
    background: white;
    width: 90vw;
    height: 45vh;
    //padding: 3vw;
    //margin: 5vw;
    border-radius: 5px;
    // box-shadow: 0px 0px 3px rgba(46, 46, 46, 0.445);
    box-shadow: 0px 0px 3px rgba(46, 46, 46, 0.233);
    overflow: hidden;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    margin-bottom: 5vh;
}

.parcours-container__title {
    h1 {
        color: white;
        font-size: 2.5rem;
        line-height: 1rem;
        position: relative;
        top: -35vh;
        left: 3%;
        //background: yellow;
        //height: 3em;
        //width: 100%;
    }
}

.parcours-container__image {
    width: inherit;
    max-height: 80%;
    max-width: 100%;
}

.parcours-container__cartouche {
    position: relative;
    width: 90vw;
    height: 6vh;
    background: white;
    //border: 1px solid red;
    top: -10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh;
    max-width: 400px;
}


.background1 {
    //background: white;
    //background-repeat: no-repeat;
    //background-size: 100px 10px;
}

.cartouche_hour {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(90, 90, 90);
}

.icon_chronos {
    position: relative;
    width: 9vw;
    padding-left: .3em;
    top: -.1em;
    max-width: 35px;
}

.icon_comment {
    position: relative;
    width: 5.3vw;
    padding-left: .3em;
    top: -.1em;
    max-width: 35px;
    margin-left: 2em;
}

.icon_rank {
    position: relative;
    width: 5.3vw;
    padding-left: .3em;
    top: -.1em;
    max-width: 35px;
    margin-left: .6em;
}

.petit_texte {
    position: relative;
    width: 85%;
    font-size: .8em;
}

.cartouche_pays {
    color: rgb(114, 112, 112);
    font-size: 1.5em;
    padding-left: .2em;
}

.cartouche_plus {
    position: relative;
    width: 5vw;
    max-width: 20px;
}

.cartouche_comment, .cartouche_rank {
    margin-left: .3em;
}