.isOn{
    background: rgb(255, 217, 0);
}


.image-cropper {
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    // border: 1px solid rgb(255, 196, 0);
    // border: 3px solid rgb(255, 214, 78);
    border: 2px solid rgb(255, 208, 0);
}

.tourist_name{
    font-size: 1.3em;
    font-weight: 400;
}

.profile__img {
    width: 15vh;
    height: auto;
    margin: 0 auto;
}

.profile__div {
    text-align: center;
    padding-top: 15vh;
}

.icon__tourist {
    width: 6vh;
    margin-bottom: -.6em;
}

.icon__tourist_2 {
    height: 12vh;
    padding: 2rem;
    background: rgb(233, 233, 233);
    border-radius: 11px;
    border: none;
}

.container__visite {
    border-radius: 11px;
    background: rgb(233, 233, 233);
    width: 55vw;
    margin: auto;
    max-width: 300px;
}

.button__visite {
    padding: 2rem;
    background: rgb(233, 233, 233);
    border-radius: 11px;
    border: none;
    font-weight: bold;
}

.button__visite:active {
    background: rgb(255, 234, 46);
}

.profile_div_1 {
    display: flex;
    flex-direction: row;
    //border: 1px solid blue;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

.profile_div_2 {
    display: flex;
    flex-direction: column;
    //border: 1px solid red;
    width: 20vw;
    justify-content: center;
    align-items: center;
    margin: 0 4vw;
}

// .profile_btn_modif {
//     border-radius: 5px;
//     background: rgb(255, 56, 56);
//     border: 1px solid rgb(177, 0, 0);
//     color: white;
//     padding: .5em;
//     width: 50vw;
// }

// .profile_btn_parcours_perso {
//     border-radius: 5px;
//     background: rgb(255, 185, 56);
//     border: 1px solid rgb(177, 106, 0);
//     color: white;
//     padding: .5em;
//     width: 50vw;
//     margin-top: .5em;
// }

.profile_btn_modif {
    border-radius: 11px;
    // background: rgb(253, 222, 222);
    // border: 0.7px solid rgb(255, 150, 150);
    // color: rgb(255, 80, 80);
    background: rgb(56, 123, 185);
    border: 0.7px solid rgb(0, 73, 156);
    // color: rgb(0, 37, 63);
    color: rgb(129, 198, 255);
    padding: .5em;
    width: 50vw;
    max-width: 300px;
}

.profile_btn_parcours_perso {
    border-radius: 11px;
    // background: rgb(255, 234, 222);
    // border: .7px solid rgb(255, 153, 0);
    // color: rgb(255, 140, 46);
    background: rgb(255, 204, 65);
    border: 1px solid rgb(255, 153, 0);
    color: rgb(255, 250, 174);
    padding: .5em;
    width: 50vw;
    margin-top: .5em;
    max-width: 300px;
}




















/* The container */
.radio__container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio__container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio__container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio__container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio__container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio__container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}