.search-bar {
    //margin-top: 7.3vh;
    background-color: white;
    border: none;
    border-bottom: 1px solid rgba(170, 170, 170, 0.719);
    color: rgb(87, 87, 87);
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    width: 100%;
    //border: 1px solid red;
}
.search-bar:focus {
    background: rgb(87, 87, 87);
    color: white;
    outline: none;
}

.dashboard-margin-bottom {
    padding-top: 7.7vh;
    padding-bottom: 5vh;
}