* {
    box-sizing: border-box;
}

html {
    font-size: 62.5% // astuce pour que 1rem = 10px au lieu de 16 ;-)
}

body {
    color: $dark-grey;
    // font-family: Helvetica, Arial, sans-serif;
    font-family: 'Avenir', 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
}

button {
    cursor: pointer;
    font-family: 'Avenir', 'PT Sans', Helvetica, Arial, sans-serif;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}