// Colors
$button-blue: #25ded6;
$text-dark-blue: #159192;
//
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$dark-blue2: #005bc4;
$off-white: #f7f7f7;
// $dark-yellow: #514a36;
// $dark-yellow: #e4a700;
$dark-yellow: #ffbb00;

//Buttons Colors
$confirm-red: rgb(196, 43, 46);

//Brands colors
$facebook-blue: rgb(80, 102, 175);
$facebook-blue2: rgb(15, 98, 215);
$facebook-blue3: #3b5998;
$google-red: rgb(193, 59, 48);
$google-red2: rgb(255, 59, 48);
$google-red3: #ea4335;

//Font-size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;

// Gradient
.gradient{
background-image:-moz-linear-gradient(30deg, white, black);
background-image:-webkit-linear-gradient(30deg, white, black);
background-image:-o-linear-gradient(30deg, white, black);
background-image:linear-gradient(60deg, white, black);
}

$gradient3: rgb(0, 255, 200);
$gradient4: rgb(0, 140, 255);
$gradient1: rgb(255, 238, 0);
$gradient2: rgb(255, 187, 0);
$radius: 60deg;
.gradient--color{
background-image:-moz-linear-gradient($radius, $gradient1, $gradient2);
background-image:-webkit-linear-gradient($radius, $gradient1, $gradient2);
background-image:-o-linear-gradient($radius, $gradient1, $gradient2);
background-image:linear-gradient($radius, $gradient1, $gradient2);
}